.row h1 {
    margin: 20px 0px 20px 0px;
    text-align: center;
}

p {
    text-align: center;
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon {
    padding: 10px;
    border-radius: 2px;
    margin: 1rem;
    text-align: center;
}

.social-icon img {
    width: 120px;
    height: 120px;
}

.email {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 50px;
}

.form-container {
    display: flex;
    justify-content: center;
}

h2 {
    align-self: center;
}

.form {
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 700px !important;
  }
  
  .form-input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
  }

  .custom-control {
    margin-top: 15px;
  }

  #defaultContactFormCopy {
    margin-left: 10px;
  }