/* variables */
:root {
  --primary-color: #196dd3;
  --pixels150: 150px;
  --txt-shdw3x4blk: 3px 4px #363738;
  --flex-it: flex;
  --center-pos: center;
  --txt-center: center;
  --shdw-box036999: 0 3px 6px #999;
  --translate-50-50: translate(-50%, -50%);
  --px20: 20px;
}

* {
    box-sizing: border-box;
    font-family: sans-serif; 
  }
  
  html, body, #root {
    padding: 0;
    margin: 0;
    height: 100%;
  }